:root {
  --color-background: #222222;
  --color-fonts: #f4f4f4;
  --color-border: #c1c1c1;
  --color-font-italic: #07ad60;
  --color-cards: #7159;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-background);
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.menu {
  text-align: center;
  padding: 20px;
}

.menu ul {
  display: flex;
  justify-content: center;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  margin: 0 30px;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-fonts);
  border-bottom: 4px solid transparent;
}

.menu ul li a:hover {
  transition: .9s;
  color: var(--color-font-italic);
  border-bottom: 4px solid var(--color-font-italic);
}

.img-photograph {
  text-align: center;
  margin-top: 20px;
}

.img-photograph img {
  border-radius: 50%;
  border: 4px solid var(--color-border);
  height: 350px;
}

.text-photograph {
  text-align: center;
  margin-top: 30px;
}

.text-photograph h1 {
  color: var(--color-fonts);
  margin-bottom: 18px;
  line-height: 28px;
  letter-spacing: 5px;
}

.text-photograph p {
  color: var(--color-fonts);
  margin-bottom: 18px;
  line-height: 28px;
}

.text-photograph p span {
  font-style: italic;
  color: var(--color-font-italic);
  border-bottom: 2px solid var(--color-font-italic);

}

.text-photograph p a {
  font-style: italic;
  color: var(--color-font-italic);
  border-bottom: 2px solid var(--color-font-italic);
  text-decoration: none;
  font-weight: 700;
}

.footer {
  text-align: center;
}

.footer a {
  text-decoration: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-font-italic);
  border-bottom: 2px solid var(--color-font-italic);
}

.footer a:hover {
  transition: .9s;
  color: var(--color-fonts);
  border-bottom: 2px solid var(--color-fonts);
}

.wrapper {
  text-align: center;
  margin: 50px auto;
}

.wrapper p {
  color:  var(--color-fonts);
  font-size: 30px;
}

/* ====== Cards ====== */
.cards {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: var(--color-cards);
  color: var(--color-fonts);
  cursor: pointer;
}

.card .image__card img {
  width: 100%;
}

.card .card__content,
.card .card__info {
  padding: 20px;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__info .price {
  background-color: var(--color-font-italic);
  filter: brightness(80%);
  padding: 5px 0px;
  border-radius: 20px;
  text-align: center;
}

/* modal */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: var(--color-fonts);
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* modal active */

.modal-overlay.active {
  opacity: 1;
  transition: .6s;
  visibility: visible;
}

iframe {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5%;
}



